@page {
  size: letter portrait;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --page-width: 8.5in;
  --page-height: 11in;
}

body {
  background: #999;
  font-family: 'Roboto', sans-serif;
}
