.title {
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-right: 20px;

  &-first {
    font-weight: 700;
  }
}

.sub-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
}
